/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

/* App Container */
.app-container {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Light gray background */
  min-height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3498db;
  padding: 10px 20px;
  color: white;
}

.logo img {
  height: 40px;
}

.language-toggle {
  background-color: #e74c3c;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
}

.language-toggle:hover {
  background-color: #c0392b;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ecf0f1;
}

/* Additional Styling */
/* Example styling for the main content */
.main-content {
  padding: 20px;
  background-color: #fff; /* White background */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 20px; /* Added margin for spacing */
  color: #333; /* Dark text color */
}

/* Light-themed quiz score */
.quiz-score {
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

.quiz-score p {
  font-size: 1.4rem;
  margin-bottom: 15px;
}

.quiz-score a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

.quiz-score a:hover {
  background-color: #3498db;
  color: white;
}
